/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.green{
    color:green;
}
.blue{
    color:blue;
}
.yellow{
    color:yellow;
}
.red{
    color:red;
}
.gold{
    color:#d39e00;
}
.grey{
    color:grey;
}