.caption{
    font-size: 10px;
    float: left;
    text-align: center;
    font-weight: bold;
}
i {
    font-size: 21vw;
}
.battery{
    font-size: 14vw;
}
.battery-caption{  
    margin-top: 16%;
    margin-left: -40%;
    color: white;
    position: absolute;
    font-size: 3vw;
}
.btn {
    width: 100%;
    height: 100%;
    padding: 3px;
    background: transparent;
    border:none;
}