
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-light">
      <i class="fa fa-comments-o green" aria-hidden="true"></i>
      <span class="caption">{{messages}}</span> 
  </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-light">
    <i class="fa fa-tachometer blue" aria-hidden="true"></i>
    <span class="caption">{{dashboard}}</span>
  </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-light">
    <i class="fa fa-assistive-listening-systems grey" aria-hidden="true"></i>
    <span class="caption">{{voice}}</span>
  </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-light">
    <i class="fa fa-battery-full grey battery" (click)="batteryStatus()" aria-hidden="true"></i>
    <span class="caption battery-caption">{{battery}}</span>
  </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-light">
      <i class="fa fa-wifi grey" aria-hidden="true"></i>
      <span class="caption">{{wifi}}</span> 
  </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-light">
      <i class="fa fa-signal grey" aria-hidden="true"></i>
      <span class="caption">{{signal}}</span> 
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-light">
    <i class="fa fa-video-camera red" (click)="batteryStatus()" aria-hidden="true"></i>
    <span class="caption">{{capture}}</span>
  </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-light">
    <i class="fa fa-clone gold" aria-hidden="true"></i>
    <span class="caption">{{mirror}}</span>
  </button>
  </div>

  <div class="col">
    <button type="button" class="btn btn-light">
    <i class="fa fa-cog" aria-hidden="true"></i> 
    <span class="caption">{{settings}}</span>
  </button>
  </div>
  
</div>
